h1 {
    text-align: center;
}
ul {
    list-style-type: none;
    padding: 0%;
}
nav {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    justify-items: center;
    align-items: center;
    border-radius: 15px;
    ul {
        padding: 0%;
        li {
            border-radius: 5px;
            text-align: center;
            padding: 0.2em;
        }
    }
}
main {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    justify-items: center;
    align-items: center;
    form {
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        padding-inline: 4ch;
        div {
            padding:5%;
            display: flex;
            flex-direction: row;
            align-self: center;
            * {
                margin:5%;
            }
            :first-child {
                align-self:flex-start;
            }
            :last-child {
                align-self: flex-end;
            }
            button {
                align-self: center;
                min-width: 8ch;
            }
        }
    }
}
body.darkmode {
    /* background-color: #011627; */
    background-color: #121212;
    color: white;
    font-family: lexend;
    nav {
        background-color: #1d1d1d;
        ul>li {
            background-color: #3d3d3d;
        }
        a {
            color: white;
            text-decoration: none;
        }
    }
    main>form {
        background-color: #1d1d1d;
    }
}
body.lightmode {
    background-color: white;
    margin:0%;
    nav {
        background-color: #6D9DC5;
    }
}